codeFlexHardWare/Immaltol_joe_main_hand/lib/*
codeFlexHardWare/warboy_sub_hand/lib/*
model/signlang_template.ipynb
meta_data
.venv
model/*
code
# codeGyroHardWare
collect_data/*
!collect_data/read_serial_data_V2.py
!collect_data/read_serial_data.py
!model/src
Sign_Language_Detection/src-20250803T105749Z-1-001.zip
codeGyroHardWare/gyroMain/lib/*
codeGyroHardWare/gyroSlave/lib/*